body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #f5f5f5 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 245, 245, 245;
}

.list-group-item {
    /* Each item in the module */
    --bs-list-group-border-color: #c7cdd1;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.wd-title {
    border: 1px solid #c7cdd1 !important;
}

.wd-module {
    border: 0.5px solid #c7cdd1 !important;
}

#wd-search-assignment {
    border-width: 0px;
    outline: none;
    height: 40px;
}

#wd-search-assignment-container {
    border-radius: 10px;
    border: 1px solid #c7cdd1 !important;
}

.wd-flex-row {
    display: flex;
    flex-direction: row;
}

.wd-assignment-list-item {
    border: 0.5px solid #c7cdd1 !important;
}

.wd-assignment-link {
    color: #4c5860;
    text-decoration: none;
    font-weight: bold;
}

.wd-assignment-link:hover {
    text-decoration: underline;
}

.wd-assignment-details {
    color: #4c5860;
}
